input[type=text] {
  display: block;
  width: 100%;
  height: $control-height;
  margin-bottom: $control-margin-bottom;
  padding: .6rem 1rem;

  font-size: 1.6rem;

  appearance: none;
  background-color: transparent;
  border: .1rem solid $input-border-color;
  border-radius: $control-radius;
  box-shadow: none;
  box-sizing: inherit;

  &:focus {
    outline: 0;
    border-color: darken($input-border-color, 25%);
  }

  @at-root
    td &,
    .table-cell & {
    margin-bottom: 0;
  }
}

input[type=checkbox] {
  margin: 0;
}