$primary: #0069d9;
$background: #fdfdfd;
$border: #eaeaea;
$error: #a94442;

$control-radius: .4rem;
$control-height: 3.8rem;
$control-margin-bottom: 1.5rem;

$table-cell-padding-vertical: 1.2rem;
$table-cell-padding-horizontal: 1.5rem;
$table-cell-padding: 1.2rem 1.5rem;
$table-border-color: #e1e1e1;